@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.rsvp-dialog {
  background: $bg-color-primary;
  bottom: 0;
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100vw;
  z-index: 99;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, top 300ms ease-in, visibility 300ms ease-in-out;
  transform: translate(0%, 0%) scale(1);

  &--hidden {
    opacity: 0;
    transform: translate(0, 50%) scale(0.7);
    visibility: hidden;
  }

  &__form-container {
    width: 100%;
    padding: $default-padding;
    iframe {
      z-index: 999;
    }
  }

  &__close-button {
    height: 50px;
    position: absolute;
    right: 18px;
    top: 20px;
    width: 40px;

    img {
      width: 100%;
    }
  }
}
