@import './colors';

/*
===============
COLORS
===============
*/
// Color palette
$color-blue: #006895;
$color-black: #181818;
$color-smoke: rgba(0, 0, 0, 0.2);
$color-orange-light: #fff6f4;
// $color-orange: #ffdd9b;
// $color-desert: #f9c55e;
// $color-pink--light: rgb(255, 247, 249);
$color-pink-light: #fcf4ff;
// $color-pink: #ff9db4;
$color-dark-pink: #df899e;
// $color-red: #fe7c9a;
$color-light-green: #f8fff4;
$color-teal: rgb(207, 247, 254);
$color-teal--a01: rgba(209, 248, 255, 0.3);
$color-teal--a02: rgba(138, 230, 246, 0.5);
$color-teal--light: rgb(244, 253, 255);
$color-teal--dark: rgb(177, 241, 251);
$color-yew: #fffaf0;

// Color themes
$color-primary: $color-teal;
// Muted rabga() with a value of `a` version of primary
$color-primary--a1: $color-teal--a01;
$color-primary--a2: $color-teal--a02;
// Secondary color: Lighter version of primary color
$color-secondary: $color-teal--light;
// Darker version of primary color
$color-tertiary: $color-teal--dark;

// Content colors
$bg-color-primary: $color-teal--light;
$bg-color-secondary: $color-teal;

// Borders
$border-color-primary: $bg-color-secondary;
$border-color-secondary: $color-tertiary;

// Colors Homepage
// TODO: Need to change variables dynamically
$bg-color-homepage: $bg-color-primary;
$bg-color-secondary-homepage: $bg-color-secondary;

// Colors travel
$bg-color-travel: $bg-color-primary;
$bg-color-secondary-travel: $bg-color-secondary;
$border-color-travel: $border-color-primary;

// Gradients
$bg-gradient-primary: linear-gradient(174deg, $bg-color-primary 25%, $bg-color-secondary 83%);

// Borders
$content-border: 1px solid $border-color-primary;

// Shadows
$button-shadow: 0 0 $color-tertiary, 0 0 $color-tertiary, 0 4px 6px -1px $color-primary--a2,
  0 2px 4px -2px $color-primary--a2;

// Spacing
$default-margin: 6rem;
$default-padding: 2rem;
$content-max-width-desktop: 108rem;
$content-max-width-tablet: 80%;

/*
===============
FONTS
===============
*/
$font-brightwall-reg: 'Brightwall Regular';
$font-brightwall-italic: 'Brightwall Italic';
$font-brightwall-swash: 'Brightwall Swash';
$font-quicksand: 'Quicksand';

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 500;
$bold: 700;

// TODO: create mixins, as we'd want to change border color on page transitions.
$border-page: 1px solid $border-color-primary;
