// @import './colors';

/*
===============
COLORS
===============
*/
// Color palette
$color-black: rgb(24, 24, 24);
$color-black--a01: rgba(0, 0, 0, 0.2);

// Yellow
$color-yellow: rgb(246, 221, 153);
$color-yellow--a01: rgb(246, 221, 153, 0.2);
$color-yellow--a02: rgb(245, 220, 153, 0.5);
$color-yellow--light: #feffff;
$color-yellow--dark: rgb(241, 194, 64);
// Pink
$color-pink: rgb(250, 189, 202);
$color-pink--a01: rgb(235, 4, 139, 0.2);
$color-pink--a02: rgb(235, 4, 139, 0.5);
$color-pink--light: rgb(255, 254, 255);
$color-pink--dark: rgb(250, 140, 162);
// Green
$color-green: rgb(188, 220, 188);
$color-green--a01: rgb(188, 220, 188, 0.2);
$color-green--a02: rgb(188, 220, 188, 0.5);
$color-green--light: rgb(254, 255, 254);
$color-green--dark: rgb(94, 191, 94);

// Teal
$color-blue: rgb(212, 235, 252);
$color-blue--a01: rgb(212, 235, 252, 0.2);
$color-blue--a02: rgb(212, 235, 252, 0.5);
$color-blue--light: rgb(255, 255, 254);
$color-blue--dark: rgb(127, 196, 248);

//Yew
$color-yew: rgb(255, 250, 240);

// Gradients
// $bg-gradient-primary: linear-gradient(174deg, var(--bg-color-primary) 25%, var(--bg-color-secondary) 83%);

// Shadows
$button-shadow: 0 0 var(--color-tertiary), 0 0 var(--color-tertiary), 0 0.4rem 1.2rem -0.3rem var(--color-primary--a1),
  0 0.2rem 1.4rem -0.9rem var(--color-primary--a1);
$button-shadow--secondary: 0 0 var(--color-secondary), 0 0 var(--color-secondary),
  0 0.4rem 1.2rem -0.3rem var(--color-primary--a1), 0 0.2rem 1.4rem -0.9rem var(--color-primary--a1);

// Spacing
$default-margin: 6rem;
$default-padding: 2rem;
$content-max-width-desktop: 108rem;
$content-max-width-tablet: 88%;

/*
===============
FONTS
===============
*/
$font-brightwall-reg: 'Brightwall Regular';
$font-brightwall-italic: 'Brightwall Italic';
$font-brightwall-swash: 'Brightwall Swash';
$font-quicksand: 'Quicksand';

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 500;
$bold: 700;
