// @import './colors';

/*
===============
COLORS
===============
*/
// Color palette
$color-black: rgb(24, 24, 24);
$color-black--a01: rgba(0, 0, 0, 0.2);
// Orange
$color-orange: rgb(255, 212, 201);
$color-orange--a01: rgb(255, 212, 201, 0.2);
$color-orange--a02: rgb(255, 212, 201, 0.5);
$color-orange--light: rgb(255, 245, 243);
$color-orange--dark: rgb(245, 163, 143);
// Pink
$color-pink: rgb(246, 221, 255);
$color-pink--light: rgb(252, 244, 255);
$color-pink--dark: rgb(255, 163, 186);
// Green
$color-green: rgb(214, 245, 198);
$color-green--a01: rgb(214, 245, 198, 0.2);
$color-green--a02: rgb(214, 245, 198, 0.5);
$color-green--light: rgb(248, 253, 244);
$color-green--dark: rgb(175, 245, 135);
// Teal
$color-teal: rgb(207, 247, 254);
$color-teal--a01: rgba(209, 248, 255, 0.2);
$color-teal--a02: rgba(138, 230, 246, 0.5);
$color-teal--light: rgb(244, 253, 255);
$color-teal--dark: rgb(161, 238, 250);
$color-yew: rgb(255, 250, 240);

// Gradients
// $bg-gradient-primary: linear-gradient(174deg, var(--bg-color-primary) 25%, var(--bg-color-secondary) 83%);

// Shadows
$button-shadow: 0 0 var(--color-tertiary), 0 0 var(--color-tertiary), 0 0.4rem 0.6rem -0.1rem var(--color-primary--a1),
  0 0.2rem 0.4rem -0.2rem var(--color-primary--a1);

// Spacing
$default-margin: 6rem;
$default-padding: 2rem;
$content-max-width-desktop: 108rem;
$content-max-width-tablet: 80%;

/*
===============
FONTS
===============
*/
$font-brightwall-reg: 'Brightwall Regular';
$font-brightwall-italic: 'Brightwall Italic';
$font-brightwall-swash: 'Brightwall Swash';
$font-quicksand: 'Quicksand';

// Font Weights
$light: 300;
$regular: 400;
$semi-bold: 500;
$bold: 700;
