<div class="loader">
  <div class="loader__container">
    <svg class="loader__progress-ring" width="380" height="380">
      <circle
        class="progress-ring__circle"
        stroke="black"
        stroke-width="7"
        fill="transparent"
        stroke-dasharray="4 1"
        [attr.r]="ringRadius"
        cx="190"
        cy="190"
      />
    </svg>
    <svg class="loader__progress-ring" width="380" height="380" #progressRingFiller>
      <circle
        class="progress-ring__circle"
        stroke="#fabdca"
        stroke-width="8"
        fill="transparent"
        [attr.r]="ringRadius"
        cx="190"
        cy="190"
      />
    </svg>
    <img class="loader__logo" src="/assets/images/logo-transparent.png" />
    <div class="loader__content">
      <h1 class="h6">
        We're excited to have you<br />
        at our wedding!
      </h1>
    </div>
  </div>
</div>
