<header class="site-header">
  <nav class="site-header__nav">
    <app-logo class="site-header__logo" [src]="'assets/images/logo-transparent.png'"></app-logo>
    <a href="events" class="site-header__nav-link" appEventSfx> <li class="site-header__nav-item">Events</li></a>
    <a href="travel" class="site-header__nav-link" appEventSfx> <li class="site-header__nav-item">Travel</li></a>
    <a href="venue-and-accommodation" class="site-header__nav-link" appEventSfx>
      <li class="site-header__nav-item">Venue & Accomodation</li></a
    >
    <a href="#" class="site-header__nav-link" appEventSfx> <li class="site-header__nav-item">RSVP</li></a>
    <a href="#" class="site-header__nav-link" appEventSfx> <li class="site-header__nav-item">Photos</li></a>
    <a href="#" class="site-header__nav-link" appEventSfx> <li class="site-header__nav-item">Registry</li></a>
  </nav>
</header>
