@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.site-header {
  display: flex;
  height: 100%;
  min-height: 95vh;
  padding: 5rem 1rem;
  width: 300px;
  background-color: $color-secondary;

  &--horizontal {
    align-items: center;
    background: $bg-gradient-radial-primary;
    flex-direction: row;
    min-height: 35px;
    padding: 2rem 0.5rem;
    width: 100%;
    justify-content: space-between;

    .site-header__nav {
      flex-direction: row;
      margin: 0.4rem;
      position: sticky;
      width: auto;
    }

    .site-header__nav-link {
      margin: 0.25rem 1rem;
      padding: 1rem 1.12rem;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-link {
    border-radius: 20px 4px 20px 4px;
    color: $color-black;
    font-size: 1.76rem;
    font-weight: 600;
    padding: 1.2rem 2.5rem;
    margin-top: 2rem;
    max-width: 240px;
    text-decoration: none;

    @include breakpoint-tablet() {
      transition: background-color 0.16s linear;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
