<header class="site-header">
  <nav class="site-header__nav">
    <li class="site-header__nav-item">
      <a href="/" class="site-header__nav-link">Our Story</a>
    </li>
    <li class="site-header__nav-item">
      <a href="events" class="site-header__nav-link">Schedule of Events</a>
    </li>
    <li class="site-header__nav-item">
      <a href="travel" class="site-header__nav-link">Travel Information</a>
    </li>
    <li class="site-header__nav-item">
      <a href="venue-and-accommodation" class="site-header__nav-link">Venue & Accomodation</a>
    </li>
    <li class="site-header__nav-item">
      <a href="#" class="site-header__nav-link">RSVP</a>
    </li>
    <li class="site-header__nav-item">
      <a href="#" class="site-header__nav-link">Photos</a>
    </li>
    <!-- <li class="site-header__nav-item">
      <a href="#" class="site-header__nav-link">Things to Do</a>
    </li>
    <li class="site-header__nav-item">
      <a href="#" class="site-header__nav-link">FAQs</a>
    </li> -->
    <li class="site-header__nav-item">
      <a href="#" class="site-header__nav-link">Registry</a>
    </li>
  </nav>
</header>
