@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.site-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 95vh;
  padding: 5rem 1rem;
  width: 30rem;
  background-color: var(--bg-color-secondary);

  &--horizontal {
    align-items: center;
    background-color: transparent;
    flex-direction: row;
    min-height: 3.5rem;
    padding: 2rem 0.5rem;
    width: 100%;
    justify-content: space-between;

    .site-header__nav {
      flex-direction: row;
      margin: 0.4rem;
      position: sticky;
      width: auto;
    }

    .site-header__nav-link {
      margin: 0.25rem 0.3rem;
      padding: 1.5rem 1.5rem;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 95%;
    width: 100%;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-link {
    border-radius: 2rem 0.4rem;
    color: $color-black;
    font-size: 1.45rem;
    font-weight: $bold;
    padding: 1.5rem 1.5rem;
    margin-top: 1.4rem;
    text-decoration: none;

    @include breakpoint-tablet {
      transition: background-color 0.16s linear;

      &:hover {
        background-color: var(--bg-color-secondary);
      }
    }
  }
}
