@import '../../../styles/abstracts/variables';

.site-header {
  display: flex;
  height: 100%;
  min-height: 95vh;
  padding: 5rem 1rem;
  width: 300px;
  background-color: #ffdd9b;

  &--horizontal {
    flex-direction: row;
    min-height: 35px;
    padding: 0.5rem;
    width: 100%;
    justify-content: space-between;

    .site-header__nav {
      flex-direction: row;
      margin: 0.4rem;
      position: sticky;
    }

    .site-header__nav-link {
      margin: 0.25rem 0.1rem;
      padding: 1rem 1.12rem;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 95%;
    width: 100%;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-link {
    font-weight: 800;
    padding: 1.2rem 2.5rem;
    margin-top: 2rem;
    max-width: 240px;
    transition: background-color 0.16s linear;
    border-radius: 20px 4px 20px 4px;
    color: $color-black;
    text-decoration: none;

    &:hover {
      background-color: $bg-color-secondary-homepage;
    }
  }
}
