<section class="section-wrapper venue-section">
  <h1>Venue & Accommodation</h1>
  <h2 class="h3">ITC Fortune Select, Forest Hill Resort</h2>
  <div class="venue-section__description-wrapper">
    <p>
      Situated in Kasauli, 20.5 miles from Pinjore Garden, Fortune Select Forest Hill, Mahiya, Kasauli - Member ITC's
      Hotel Group features accommodation with an outdoor swimming pool, free private parking, a fitness centre and a
      garden. This 5-star hotel offers a kids' club, a shared lounge and free WiFi. Guests can enjoy American and
      Chinese dishes at the restaurant or have a cocktail at the bar. The rooms are fitted with air conditioning, a TV
      with satellite channels, a minibar, a kettle, a shower, free toiletries and a desk. Rooms come with a safety
      deposit box, while certain rooms are equipped with a balcony and others also boast garden views. All rooms have a
      wardrobe. A buffet, à la carte or continental breakfast can be enjoyed at the property. The hotel offers a
      terrace. You can play table tennis at this 5-star hotel, and car hire is available.
    </p>
    <div class="venue-section__contact-wrapper">
      <div class="venue-section__address">
        <h3 class="h6">Address</h3>
        <p>Mahiyan P.O, Bhojnagar - Johdji Rd, Tehsil, Kasauli, Himachal Pradesh 173229, India</p>
      </div>
      <div class="venue-section__phone">
        <h3 class="h6">Phone Number</h3>
        <p>+91 179-226-6666</p>
      </div>
    </div>
    <div class="venue-section__images-container">
      <div class="venue-section__image-wrapper col-1"></div>
      <div class="venue-section__image-wrapper col-2"></div>
    </div>
  </div>

  <div class="venue-section__venue-travel">
    <h2 class="h3">Travel to the Venue</h2>
    <p>
      The venue is located in a small city called Kasauli which is in the foothills of the Himalayan Mountains about 2
      hours from Chandigarh. Between the wedding planners and ourselves, we will be helping to arrange transportation
      from various meeting points (to be determined) on early Saturday morning (November 4th) for guests to travel to
      the venue together sharing cabs. Shared cabs will cost around 1,700 Rs ($21) one way. For this reason, it is
      important that all guests are in Chandigarh no later than Friday, November 3rd in order to travel to the venue
      early the next morning.
    </p>
  </div>

  <h2 class="h3">Accommodation Arrangements</h2>
  <div class="venue-section__description-wrapper">
    <p>
      For your convenience, rooms have already been reserved for at ITC Fortune Select, Forest Hill Resort between
      November 4th - November 6th for all guests attending both days of wedding events.
    </p>
    <p>Take a look at the travel page for hotel recommendations in both New Delhi and Chandigarh.</p>
  </div>
</section>
