@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.venue-section {
  flex-direction: column;
  max-width: $content-max-width-desktop;
  @media screen and (max-width: $media-breakpoint-desktop) {
    max-width: $content-max-width-tablet;
  }
  h1,
  h2 {
    text-align: center;
  }
  &__description-wrapper {
    margin-bottom: 10rem;
    p {
      text-align: center;
    }
  }
  &__contact-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  &__address,
  &__phone {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__images-container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $media-breakpoint-tablet) {
      flex-direction: column;
    }
  }
  &__image-wrapper {
    height: 40rem;
    max-width: 46%;
    width: 100%;
    @media screen and (max-width: $media-breakpoint-tablet) {
      max-width: 100%;
      &:first-of-type {
        margin-bottom: 3rem;
      }
    }
    &.col-1 {
      background-image: url('../../../assets/images/venue-1.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include content-image-shape-left(8px, 70px);
    }
    &.col-2 {
      background-image: url('../../../assets/images/venue-2.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include content-image-shape-left(8px, 70px);
    }
  }

  &__venue-travel {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    max-width: $content-max-width-desktop;
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
