<div class="homepage">
  <section class="homepage__hero grid">
    <div class="heading">
      <h1 class="typography-heading-elevated">Ashu</h1>
      <span class="h3">Weds</span>
      <h1 class="typography-heading-elevated">Sarah</h1>
      <img class="icon-image icon-rings" src="/assets/images/icons/wedding-rings.png" alt="wedding rings" />
    </div>
    <div class="proposal-image-wrapper">
      <img class="proposal-image" src="/assets/images/proposal.png" alt="proposal image" />
    </div>
    <h2 class="h5">November 4 - 5, 2023</h2>
  </section>
  <section class="grid">
    <h2>Our Story</h2>
  </section>
</div>
