@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';
@import '../../../styles/base/breakpoints';

$ring-rotate-z: 33deg;
.homepage {
  &__hero {
    align-items: center;
    display: flex;
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
    z-index: 1;

    &__rings-wrapper {
      height: 9rem;
      left: 34.6rem;
      opacity: 0;
      position: absolute;
      top: -6.9rem;
      transform: rotateZ($ring-rotate-z);
      width: 9rem;
      .icon-image {
        opacity: 0.65;
      }
    }

    &__content-wrapper {
      align-items: center;
      display: flex;
      height: 50rem;
      justify-content: space-between;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        height: 100%;
        width: 100%;
      }
    }
    &__heading-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 22rem 0 19rem;

      @include breakpoint-tablet {
        flex-direction: column;
        margin: 6rem 3rem 0 0;
      }

      span {
        font-size: 7.3rem;

        @include breakpoint-desktop {
          font-size: 8rem;
        }
      }
    }
    &__heading {
      font-size: 11rem;
      line-height: 11rem;
      margin-bottom: 5.5rem;

      @include breakpoint-tablet {
        font-size: 10rem;
        line-height: 10rem;
      }

      @include breakpoint-desktop {
        font-size: 12rem;
        line-height: 12rem;
      }
    }
    &__image-wrapper {
      position: relative;
      width: 32rem;

      @include breakpoint-tablet {
        margin-left: 6.5rem;
        width: 31rem;
      }

      @include breakpoint-desktop {
        margin-left: 11rem;
        width: 38rem;
      }
    }

    &__image-container {
      overflow: hidden;
      @include content-semi-circle-left(8px, 370px);
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__image-outline {
      @include content-semi-circle-left(8px, 370px);

      bottom: 2.5rem;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(1.8rem, 2rem);
      z-index: -1;
    }
  }

  &__getting-married {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto $default-margin;
    min-height: 100vh;
    padding: $default-padding;
    width: 100%;

    &__container {
      align-items: center;
      background: url('/assets/images/she-said-yes-2.png');
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      max-width: $content-max-width-desktop;
      min-height: 90vh;
      overflow: hidden;
      padding: 5rem 1rem;
      width: 100%;
      @include content-image-shape-left(8px, 140px);
    }

    &__heading {
      margin: 5rem;
    }
  }
  &__our-story {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: $content-max-width-desktop;
    margin: $default-margin auto;
    min-height: 100vh;
    padding: $default-padding;
    position: relative;
    width: 100%;

    &__heading {
      margin: 5rem;
    }

    &__content-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      width: 100%;
      @media screen and (max-width: $media-breakpoint-mobile) {
        flex-direction: column;
      }
      .column {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 48%;
        width: 100%;
        @media screen and (max-width: $media-breakpoint-mobile) {
          max-width: 100%;
          &:first-of-type {
            margin-bottom: $default-margin;
          }
        }
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .icon-container {
    font-size: 25px;
  }
  #rsvp-section,
  #photos-section {
    margin: $default-margin auto;
    scroll-margin-top: 6rem;
  }
}
