<div class="homepage">
  <section class="homepage__hero grid">
    <div class="homepage__hero__content-wrapper">
      <div class="homepage__hero__heading-container fade-in">
        <h1 class="homepage__hero__heading">Ashu</h1>
        <span class="h3">weds</span>
        <h1 class="homepage__hero__heading">Sarah</h1>
      </div>
      <div class="homepage__hero__image-wrapper">
        <div class="homepage__hero__image-outline"></div>
        <img src="../../../assets/images/proposal-1.png" alt="proposal" />
        <div class="homepage__hero__rings-wrapper bounce">
          <img src="../../../assets/images/icons/wedding-rings.png" alt="wedding rings" />
        </div>
      </div>
    </div>
    <!-- <h2 class="h5">November 4 - 5, 2023</h2> -->
  </section>
  <section class="homepage__hero-lead">
    <h2 class="homepage__hero-lead__heading">She said Yes</h2>
    <p>Join the celebration as we say "I do" in the foothills of Himalayas.</p>

    <div class="homepage__hero-lead__image-wrapper">
      <div class="homepage__hero__image-outline"></div>
      <img src="../../../assets/images/ring-peekaboo.png" alt="engagement ring photo" />
    </div>
  </section>
  <section class="homepage__hero-lead">
    <h2 class="homepage__hero-lead__heading">We're Getting Married</h2>
    <p>Join the celebration as we say "I do" in the foothills of Himalayas.</p>
  </section>
</div>
