<div class="homepage">
  <section class="homepage__hero grid">
    <div class="homepage__hero__content-wrapper">
      <div class="homepage__hero__heading-container fade-in">
        <h1 class="homepage__hero__heading">Ashu</h1>
        <span class="h3">weds</span>
        <h1 class="homepage__hero__heading">Sarah</h1>
      </div>
      <!-- Only display main image when device is not mobile  -->
      <div class="homepage__hero__image-wrapper" *ngIf="(deviceType$ | async) != 'mobile'">
        <div class="homepage__hero__image-outline"></div>
        <img src="./assets/images/proposal-1.png" alt="proposal" />
        <div class="homepage__hero__rings-wrapper bounce">
          <img src="./assets/images/icons/wedding-rings.png" alt="wedding rings" />
        </div>
      </div>
    </div>
  </section>
  <section class="homepage__getting-married">
    <div class="homepage__getting-married__container">
      <h2 class="homepage__getting-married__heading">We're Getting Married</h2>
      <h3 class="h5">November 4 & 5, 2023</h3>
    </div>
  </section>
  <section class="homepage__our-story">
    <h2 class="homepage__our-story__heading">Our Story</h2>
    <!-- <p class="typography-para-enhanced">
      He thought she was cute. She thought he was ignoring her. She thought he was rude. They trained together. He proposed. She said yes!
    </p> -->
    <div class="homepage__our-story__content-wrapper">
      <div class="homepage__our-story__hers column">
        <h3>Hers</h3>
        <div class="icon-container">🚙</div>
        <p>
          I was picking my friend Surabhi from campus to hang out when she asked if I could also give a ride home to her
          friend and his roommate. I said "sure" and let everyone cram into my falling apart 2002 blue Volkswagen
          Beetle. Surabhi and her friend got into the back seat while her friend's roommate, soon to be known as Ashu,
          squeezed into the front seat next to me. The first thing that I noticed about him was his appearance. He was
          pretty tall and really cute.
        </p>
        <div class="icon-container">🇮🇳</div>
        <p>
          I introduced myself and asked him what his name was and where he was from in India. Of course at that point I
          had to tell him I had studied abroad in India and speak Hindi, looking for the "oh wowww" response I am
          usually met with. Ashu's response though? "Oh okay." I think he was the first person from India I have ever
          spoken to that didn't think it was cool that I'd lived there and spoke their native language so I was a little
          confused as to how to carry the conversation foward. I asked him a few basic questions about himself while he
          responded quietly with half sentences. "Either this guy already doesn't like me for some reason or he's really
          shy" I thought.
        </p>
        <div class="icon-container">🚲</div>
        <p>
          A few weeks later Surabhi told me about an incident regarding a bicycle theft. Her friend had won a bicycle in
          an on-campus raffle and the roommates had been sharing the bike commuting to South Campus before taking the
          bus to North Campus. Nobody was supposed to leave the bike on South Campus; they had to place the bicycle on
          the bike rack on the front of the campus bus and take it to North Campus with them so the bike wouldn't get
          stolen. (I don't know about you but I've never done that and I sure would feel like an idiot trying to figure
          out how that works). Apparently Ashu took the bike with him that day and left it on South Campus. Naturally,
          the bike was stolen. "What a jerk", I thought for not taking the bike to North Campus with him.
        </p>
        <div class="icon-container">🏋️‍♀️🏋️‍♂️</div>
        <p>
          Another few weeks go by and Surabhi insists I come over for a house party on a Friday night at her friend's
          place. The offer was beer, Indian food, and practicing Hindi with native speakers, of course I couldn't pass
          that up. I show up to the house and walk through the door and the first thing I notice is Ashu in a corner of
          the living room by himself quietly sitting at a small folding card table eating a bowl of about 10 hard boiled
          eggs. "What a weirdo", I thought to myself. As the night progressed and we all got to know each other better
          Surabhi mentioned to me that Ashu went to the same gym as me during the day. I looked at him and asked "Oh,
          what time do you go and would you like to go together? I'd love to have a workout partner and I can give you a
          ride home." He quietly agreed, we exchanged numbers, and we became training partners.
        </p>
        <div class="icon-container">💍</div>
        <p>
          The first week or so of going to the gym together was very quiet, but slowly Ashu started to not be so shy and
          make small conversation with me on the way home from the gym. Eventually, he asked me to take him to a grocery
          store (Wegmans of course cause it's the best), and to teach him how to cook a few things. Between hanging out
          with Ashu and his roommates at their place, going to the gym together, grocery shopping together, and meal
          prepping together we quickly became inseparable. After tons of gym sessions, moving states a couple of times
          to continue to live near each other, and going through a global pandemic, Ashu decided to put a ring on it for
          my 31st birthday. <span>❤️</span>
        </p>
      </div>
      <div class="homepage__our-story__his column">
        <h3>His</h3>
        <div class="icon-container">🚙</div>
        <p>
          I was waiting for a bus at UB and a bettle pulled over near the campus's main enterance. A tall and pretty
          girl with a mohawk hairstyle stepped out of driver seat with funky looking white framed sunglasses. "Such a
          cute hippie", I thought to myself. I was asked to sit in the front seat and wondered why this tall girl drives
          a car so small.
        </p>
        <div class="icon-container">🇮🇳</div>
        <p>
          I was bombarded with "small talk" questions by this hippie. She introduced herself as Sarah "I love India"
          Spriggs. I could see her eyes glow when she talked about her adventures.
        </p>
        <div class="icon-container">💃🏻</div>
        <p>
          A few week later, my roomates decided to have a "drink the assignment stress away" house party and invited
          Sarah over. I was minding my own business and eating my as usual post workout of 10 hard boiled eggs when this
          tall and fit girl walked in and looked at me funny. I looked at her and smiled, and continued to eat my eggs
          in peace. After few drinks, the irish side of Sarah started to come out. She decided to imitate Amitabh
          Bachchan's "Jumma Chumma" dance steps while watching the video. "This girl is funny and loves to dance as much
          as I do", I thought to myself. She continued to amuse me for the rest of the night with her drunk witty sense
          of humor.
        </p>
        <div class="icon-container">🏋️‍♀️🏋️‍♂️</div>
        <p>
          Later that night, she asked me if I'd train with her in exchange of a beetle ride back home. I said yes as I
          didn't mind a sweet gym partner nor the ride. 😌
        </p>
        <div class="icon-container">💍</div>
        <p></p>
      </div>
    </div>
  </section>
  <section class="homepage__rsvp" id="rsvp-section">
    <app-rsvp-container></app-rsvp-container>
  </section>
  <section class="homepage__photos" id="photos-section">
    <app-photos-container></app-photos-container>
  </section>
  <section class="homepage__registry" id="registry-section">
    <app-registry></app-registry>
  </section>
</div>
