<div class="registry-container">
  <h2>Registry</h2>
  <div class="registry-wrapper">
    <p>
      We have most things we need for life and love. If you want to bless us with a gift, we can always use cash gifts.
      That said, we know some people prefer to buy gifts off a registry. We created ours at Target. Either way, we would
      appreciate your prayers and well wishes as we start this journey together!
    </p>
    <div class="registry-buttons-wrapper">
      <a class="button" href="https://www.target.com/gift-registry/gift/ashu-weds-sarah" target="_blank">Target</a>
    </div>
  </div>
</div>
