.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 4;
  transform: translateX(-400px);
  transition: transform 0.25s ease-in;

  &.visible {
    transform: translateX(0);
  }

  &__close-button {
    height: 40px;
    position: absolute;
    right: 18px;
    top: 20px;
    width: 40px;

    img {
      width: 100%;
    }
  }
}
