.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: 4;
  transform: translateX(-40rem);
  transition: transform 0.25s ease-in;

  &.visible {
    transform: translateX(0);
  }

  &__close-button {
    height: 4rem;
    position: absolute;
    right: 1.8rem;
    top: 2rem;
    width: 4rem;

    img {
      width: 100%;
    }
  }
}
