<div class="photos-container default-padding">
  <h2>Photos</h2>
  <div class="photos-container__gallery">
    <figure class="photos-container__gallery-item gallery-item-1">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_1973--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-2">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_2211--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-3">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_2178--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-4">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/Syracuse--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-5">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_0688--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-6">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_2286--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-7">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_3048--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-8">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_3365--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-9">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_3466--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-10">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/ashu-and-i--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-11">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_3915--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-12">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_3458--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-13">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_1364--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-14">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_2008--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-15">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_6695--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-16">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_4215--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-17">
      <img class="photo-gallery-img lazyload" data-src="../../../assets/images/photos-section/rio--large.webp" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-18">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_9310--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-19">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/Austin--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-20">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_1635--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-21">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_1969--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-22">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/mehendi--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-23">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/IMG_0349--large.webp"
        alt=""
      />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-24">
      <img
        class="photo-gallery-img lazyload"
        data-src="../../../assets/images/photos-section/wedding--large.webp"
        alt=""
      />
    </figure>
  </div>
</div>
