<div class="photos-container">
  <h2>Photos</h2>
  <div class="photos-container__gallery">
    <figure class="photos-container__gallery-item gallery-item-1">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_1973.jpeg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-2">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_5376.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-3">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_2178.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-4">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_2464.jpeg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-5">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_2286.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-6">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_3048.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-7">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_3365.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-8">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_3466.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-9">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/ashu-and-i.jpeg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-10">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_3915.jpeg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-11">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_3458.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-12">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_1364.jpg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-13">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_2008.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-14">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_6695.jpg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-15">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_4215.jpeg" alt="" />
    </figure>
    <!-- <figure class="photos-container__gallery-item gallery-item-16">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_9089.jpg" alt="" />
    </figure> -->
    <figure class="photos-container__gallery-item gallery-item-16">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_9310.JPG" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-17">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_1969.jpg" alt="" />
    </figure>
    <figure class="photos-container__gallery-item gallery-item-18">
      <img class="photo-gallery-img" src="../../../assets/images/photos-section/IMG_0349.jpg" alt="" />
    </figure>
  </div>
</div>
