@import '../../../styles/abstracts/variables';

.site-footer {
  display: none;
  padding: 0 7rem $default-padding;
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      display: block;
      margin-bottom: 1rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
