@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.site-footer {
  background-color: $bg-color-secondary;
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $default-padding;
    p {
      display: block;
      margin-bottom: 0;
      @media screen and (max-width: $media-breakpoint-mobile-small) {
        align-items: center;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
