@import '../../../styles/abstracts/variables';

.site-footer {
  background-color: $bg-color-primary;
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0.4rem 0.3rem;
    p {
      display: block;
      margin-bottom: 0;
    }
  }
}
