<div class="rsvp-container">
  <h2>RSVP</h2>
  <div class="rsvp-wrapper">
    <p>
      Join the celebration as we say "I do" in the foothills of Himalayas. Please let us know if you can celebrate with
      us by September 31st.
    </p>
    <a class="rsvp-button button button--secondary" href="#" (click)="onRsvpClick($event)"> RSVP </a>
    <!-- <span class="rsvp-icon-container">✉️</span> -->
  </div>
  <div #rsvpFormContainer>
    <app-rsvp-dialog [dialogHidden]="!showDialog" (closeDialog)="showDialog = false"></app-rsvp-dialog>
  </div>
</div>
