@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.rsvp-container {
  align-items: center;
  background-color: $bg-color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 1.2rem;
  text-align: center;
  width: 100%;
}

.rsvp-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: $content-max-width-desktop;
  justify-content: center;
}

.rsvp-icon-container {
  font-size: 3rem;
  margin: 0.6rem 1rem 0 0;
}
