// Global Classes
.section-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    padding-top: 10rem;
  }
}
.content-wrapper {
  margin: 30px 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.card {
  border-radius: 3.6rem;
  overflow: hidden;
}

.button {
  align-items: center;
  background-color: $color-pink;
  border: 1px solid $color-smoke;
  border-radius: 0.6rem;
  box-shadow: $button-shadow;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  letter-spacing: 0.13rem;
  padding: 0.4rem 3.2rem;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active {
    background-color: $color-dark-pink;
  }
}

.row {
  display: flex;
  width: 100%;
}
