// Global Classes
.section-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    padding-top: 10rem;
  }
}
.content-wrapper {
  margin: 30px 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.card {
  border-radius: 36px;
  overflow: hidden;
}

.row {
  display: flex;
  width: 100%;
}
