// Global Classes
:root {
  @include set-base-color('sky');

  [data-page*='homepage'] {
    @include set-base-color('rose');
  }

  [data-page*='events'] {
    @include set-base-color('sunshine');
  }

  [data-page*='venue'] {
    @include set-base-color('forest');
  }

  [data-page*='travel'] {
    @include set-base-color('eggplant');
  }
}

.section-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    padding-top: 10rem;
  }
}
.content-wrapper {
  margin: 3rem 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.card {
  border-radius: 3.6rem;
  overflow: hidden;
}

.button {
  @include content-image-shape-left(0.2rem, 2rem);
  align-items: center;
  background-color: var(--color-primary);
  border: 0.2rem solid var(--color-tertiary);
  box-shadow: $button-shadow;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
  letter-spacing: 0.1rem;
  min-width: 15rem;
  padding: 1.2rem 3.2rem;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:active {
    background-color: var(--color-secondary);
  }

  &--secondary {
    background-color: var(--bg-color-primary);
    border: 0.2rem solid var(--color-tertiary);
    box-shadow: $button-shadow--secondary;

    &:hover,
    &:active {
      background-color: var(--bg-color-tertiary);
    }
  }
}

.default-padding {
  padding: $default-padding;
  @media screen and (max-width: $media-breakpoint-mobile) {
    padding: 1.2rem 1.6rem;
  }
}

.row {
  display: flex;
  width: 100%;
}

.no-scroll {
  overflow: hidden !important;
}
