@import '../abstracts/variables';
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  margin: 0;
  padding: 0;
}

/* <html> = the root */
html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  overflow-x: hidden;
}

html {
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  color: $color-black;
  text-decoration: none;
  &:visited,
  &:active {
    color: $color-black;
  }
  // /* Places underlines below the descenders */
  // text-underline-position: under;

  // /* Sets the thickness as a percentage of the font size */
  // text-decoration-thickness: 8;
}

label,
button,
select,
summary,
[type='radio'],
[type='submit'],
[type='checkbox'] {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/*
==============================
SCROLLBAR
==============================
*/
::-webkit-scrollbar {
  width: 0.6rem !important;
}
::-webkit-scrollbar-track {
  background: var(--border-color-primary);
}
::-webkit-scrollbar-thumb {
  border-radius: 1.6rem !important;
  background: var(--border-color-secondary);
}
