@font-face {
  font-family: 'Brightwall Regular';
  src: url('../../assets/fonts/brightwall-reg.otf') format('opentype');
}
@font-face {
  font-family: 'Brightwall Italic';
  src: url('../../assets/fonts/brightwall-italic.otf') format('opentype');
}
@font-face {
  font-family: 'Brightwall Swash';
  src: url('../../assets/fonts/brightwall-swash.otf') format('opentype');
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-brightwall-reg, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: $color-black;
}

h1,
.h1 {
  font-size: 6rem;
  line-height: 10.5rem;
  margin-bottom: 6rem;
  letter-spacing: 0.15rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 4rem;
  }
}

h2,
.h2 {
  font-size: 5rem;
  line-height: 9.4rem;
  margin-bottom: 5rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 3rem;
  }
}

h3,
.h3 {
  font-size: 4rem;
  line-height: 8.4rem;
  margin-bottom: 4rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    font-size: 3rem;
    line-height: 5.4rem;
    margin-bottom: 3rem;
  }
}

h4,
.h4 {
  font-size: 3rem;
  line-height: 5.4rem;
  margin-bottom: 3rem;
  @media screen and (max-width: $media-breakpoint-mobile) {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
}

h5,
.h5 {
  font-size: 2.5rem;
  line-height: 5.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.8px;
  @media screen and (max-width: $media-breakpoint-mobile) {
    font-size: 2rem;
    line-height: 4.4rem;
  }
}

h6,
.h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  font-weight: $semi-bold;
  letter-spacing: 0.13rem;
}

p {
  font-size: 1.7rem;
  margin: 0 0 30px;
}
