@import '../abstracts/variables';

@font-face {
  font-family: 'Brightwall Regular';
  src: url('../../assets/fonts/brightwall-reg.otf') format('opentype');
}
@font-face {
  font-family: 'Brightwall Italic';
  src: url('../../assets/fonts/brightwall-italic.otf') format('opentype');
}
@font-face {
  font-family: 'Brightwall Swash';
  src: url('../../assets/fonts/brightwall-swash.otf') format('opentype');
}
@font-face {
  font-family: 'Livvic Regular';
  src: url('../../assets/fonts/livvic-reg.ttf') format('truetype');
}
@font-face {
  font-family: 'Livvic SemiBold';
  src: url('../../assets/fonts/livvic-semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'Livvic Bold';
  src: url('../../assets/fonts/livvic-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Livvic Black';
  src: url('../../assets/fonts/livvic-black.ttf') format('truetype');
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 h6,
.h6 {
  font-family: $font-brightwall-reg, serif;
  letter-spacing: 1px;
  color: $color-black;
}

h1,
.h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin-bottom: 6rem;
}

h2,
.h2 {
  font-size: 5rem;
  line-height: 5.2rem;
  margin-bottom: 5rem;
}

h3,
.h3 {
  font-size: 4rem;
  line-height: 4.2rem;
  margin-bottom: 4rem;
}

h4,
.h4 {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 3rem;
}

h5,
.h5 {
  font-size: 2.5rem;
  line-height: 2.7rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.8px;
}

h6,
.h6 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

body {
  font-family: $font-livvic-reg, sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}

p {
  margin: 0 0 30px;
}
